@font-face {
  font-family: 'gilroyextrabold';
  font-style: bold;
  font-weight: 700;
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'gilroylight';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'open_sansregular';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'open_sanslight';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff');
}

body {
  margin: auto;
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  -webkit-text-decoration-color: inherit;
  text-decoration-color: inherit;
  color: rgba(0, 0, 0, 1);
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7e296;
  min-height: 299px;
  width: 1160px;
}

.main-navigation {
  margin-top: 12px;
}

.header-logo {
  margin: 0;
  font-size: 48px;
  letter-spacing: .75px;
  position: relative;
  bottom: 12px;
  left: 57px;
  width: 400px;
}

.search {
  width: 355px;
  height: 50px;
}

.search input[type='text'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 355px;
  height: 48px;
  padding: 8px 40px;
  font: inherit;
  vertical-align: middle;
  background-color: transparent;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 3px 15px;
  border: 0;
  border-bottom: 2px solid transparent;
  border-radius: 0;
}

.search input[type='text']::-webkit-input-placeholder {
  opacity: 0.3;
}

.search input[type='text']:-ms-input-placeholder {
  opacity: 0.3;
}

.search input[type='text']::-ms-input-placeholder {
  opacity: 0.3;
}

.search input[type='text']::placeholder {
  opacity: 0.3;
}

/* placeholder on hover start */
.search input:hover::-webkit-input-placeholder {
  opacity: 0.6;
}
/* Firefox < 19 */
.search input:hover:-moz-placeholder {
  opacity: 0.6;
}
/* Firefox > 19 */
.search input:hover::-moz-placeholder {
  opacity: 0.6;
}
/* Internet Explorer 10 */
.search input:hover:-ms-input-placeholder {
  opacity: 0.6;
}
/* placeholder on hover end */

.search input[type='text']:focus {
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  outline: none;
}

.search-btn {
  width: 85px;
  height: 48px;
  border: 2px solid rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  display: none;
  position: absolute;
  right: 60px;
  top: 0;
}

.search input[type='text']:focus + .search-btn {
  display: block;
  border: 2px solid rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
}

.search input[type='text']:focus +.search-btn:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
}

.search input[type='text']:focus +.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 1);
}

.user-navigation .login {
  margin-left: 9px;
}

.login a::before {
  content: url('../img/user.svg');
  margin-right: 14px;
  margin-left: -9px;
}

.user-navigation .compare {
  margin-left: 176px;
}

.catalog-header .compare {
  margin-left: 0px;
}

.compare a::before {
  content: url('../img/compare.svg');
  margin-right: 11px;
}

.cart a::before {
  content: url('../img/cart.svg');
  margin-right: 11px;
}

.user-navigation,
.site-navigation,
.catalog-list,
.services-list,
.brands-list,
.delivery-list,
.footer-site-navigation,
.footer-social,
.footer-user-navigation {
  list-style: none;
}

.user-navigation {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 8px 60px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.menu-column {
  width: 500px;
  min-height: 50px;
  position: relative;
}

.menu-column-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  word-break: break-word;
}

.site-navigation {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px 60px;
  letter-spacing: 3.55px;
  word-spacing: -2px;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

.site-navigation-column.column-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.user-navigation,
.description {
  font-family: 'open_sanslight', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  text-transform: none;
}

.nav-catalog-expand {
  margin-top: 29px;
  display: none;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: 'open_sanslight', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-transform: none;
  letter-spacing: 0.3px;
  width: 1160px;
  -webkit-transform: translateY(-150px);
  transform: translateY(-150px);
  position: absolute;
  left: -60px;
}

.menu-column:hover .nav-catalog-expand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  background-color: #f7e296;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.nav-catalog-expand-item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0;
  min-height: 108px;
  margin-left: 60px;
}

.index.nav-catalog-expand {
  padding-bottom: 25px;
}

.nav-catalog-expand-item li {
  margin-bottom: 12px;
}

.site-navigation-column > a {
  min-width: 220px;
}

.menu-column.column-1 > a {
  padding-bottom: 50px;
  padding-right: 150px;
}

.column-1 > a::after {
  content: url('../img/plus.svg');
  position: relative;
  left: 12px;
  top: 1px;
}

.menu-column-item.warranty {
  margin-right: 70px;
}

.menu-column-item.contacts {
  margin-right: -4px;
  margin-left: 4px;
}

.catalog-number {
  font-size: 35.782px;
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  vertical-align: top;
  position: relative;
  left: 400px;
  top: 60px;
  -webkit-transform: scale(5, 5);
  transform: scale(5, 5);
}

.button {
  display: block;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  width: 220px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, rgba(240, 197, 46, 1)), color-stop(60%, rgba(240, 197, 46, 1)), color-stop(60%, transparent));
  background-image: linear-gradient(transparent 40%, rgba(240, 197, 46, 1) 40%, rgba(240, 197, 46, 1) 60%, transparent 60%);
  text-align: center;
  letter-spacing: 3.7px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.button:hover {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0c52e), to(#f0c52e));
  background-image: linear-gradient(#f0c52e, #f0c52e);
}
/* slider */
.slider {
  margin: 0 auto;
  margin-top: -112px;
  width: 1160px;
  min-height: 520px;
}

.slider-catalog {
  margin: 0;
  padding: 0;
}

.slider-item {
  padding: 0;
  width: 1040px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider-content {
  position: relative;
  width: 500px;
}

.slider-content h3 {
  position: relative;
  width: 510px;
  font-size: 47px;
  line-height: 56px;
  text-transform: none;
  letter-spacing: .5px;
  margin-right: auto;
  margin-top: 39px;
  margin-bottom: 20px;
}

.slider-content h3::before {
  content: '';
  display: block;
  position: relative;
  top: -36px;
  width: 100px;
  height: 7px;
  background-color: white;
}

.slider-content img {
  position: absolute;
  right: 0;
  top: 0;
}

.item-1 img {
  left: 30px;
}

.item-2 img {
  top: 13px;
  left: 56px;
}

.item-2 .catalog-number {
  left: 388px;
  top: 63px;
  letter-spacing: 0.6px;
}

.item-3 img {
  right: 3px;
  top: 67px;
}

.item-3 .catalog-number {
  left: 387px;
  top: 64px;
  letter-spacing: 0.9px;
}

.slider-content > .description {
  margin-bottom: 1px;
  margin-top: -1px;
  letter-spacing: .2px;
}

h3 .description:last-child {
  word-spacing: -0.4px;
}

.slider-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-top: 42px;
}

.slider-pagination {
  width: auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 2px;
  margin-top: auto;
  margin-bottom: auto;
}

.switcher label {
  display: block;
  cursor: pointer;
}

.switcher:nth-child(1) {
  margin-right: 12px;
}

.switcher:nth-child(2) {
  margin-right: 14px;
}

.switcher:nth-child(3) {
  margin-right: 17px;
}

.slider-input-radio + label::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/slider-button-empty.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
  border-radius: 50%;
}

.slider-input-radio:checked + label::before {
  background-image: url(../img/slider-button.svg);
}

.slider-input-radio:checked:active + label::before {
  background-image: url(../img/slider-button-empty.svg);
}

.slider-input-radio:active + label::before {
  background-image: url(../img/slider-button.svg);
}

.slider-table {
  border-collapse: collapse;
  margin-top: 57px;
  max-width: 460px;
  height: 78px;
  text-align: left;
}

.table-row-group {
  font-family: 'gilroylight', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 36px;
  text-transform: none;
  font-weight: normal;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  word-spacing: 2px;
}

.table-header-group th {
  font-family: 'open_sanslight', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 13px;
  text-transform: none;
  font-weight: normal;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  vertical-align: bottom;
  line-height: 35px;
  text-align: left;
}

.table-header-group .column-1,
.table-row-group .column-1 {
  width: 156px;
  position: relative;
}

.item-3 .column-1 {
  width: 156px;
}

.table-header-group .column-2,
.table-row-group .column-2 {
  width: 137px;
}

.table-header-group .column-3,
.table-row-group .column-3 {
  width: 160px;
}

.table-header-group .column-3 {
  position: relative;
  left: 4px;
}

/* catalog */
.catalog.login-btn {
  margin-right: 40px;
}

.catalog.login-btn a {
  opacity: 0.3;
}

.catalog.compare {
  margin-right: 20px;
}

.inner-catalog {
  margin: 0 auto;
  margin-top: 73px;
  width: 1160px;
}

.inner-catalog-list {
  list-style: none;
  padding: 0;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-icon {
  width: 160px;
}

.catalog-icon h3 {
  margin-top: 35px;
  font-size: 17px;
  letter-spacing: 0.8px;
  white-space: nowrap;
  text-transform: none;
}

.catalog-icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.category-item-image {
  width: 160px;
  height: 160px;
  background-color: rgba(254, 205, 51, 0.5);
}

.popular.item-1 img {
  position: relative;
  left: 31px;
  top: 52px;
}

.popular.item-2 img {
  position: relative;
  left: 38px;
  top: 42px;
}

.popular.item-3 img {
  position: relative;
  left: 49px;
  top: 38px;
}

.popular.item-4 img {
  position: relative;
  left: 28px;
  top: 50px;
}

.popular.item-5 img {
  position: relative;
  left: 55px;
  top: 32px;
}

.popular.item-6 img {
  position: relative;
  left: 13px;
  top: 49px;
}

a.popular:hover,
a.popular:active {
  opacity: 1;
}

.category-item-image:hover {
  background-color: rgba(254, 205, 51, 1);
}

a.popular:active img {
  opacity: 0.3;
}

a.popular:active .category-item-image {
  background-color: rgba(254, 205, 51, 1);
}

a.popular:active h3 {
  opacity: 0.3;
}

/* services */

.services {
  margin-top: 163px;
  background-color: #e5e5e5;
}

.services-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  /* margin-top: -80px; */
  top: -80px;
  margin-left: auto;
  margin-right: auto;
}

.services-list {
  padding: 0;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 0;
  height: 170px;
}

.services-list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 280px;
  position: relative;
  min-height: 288px;
}

.services-list-menu::after {
  content: '';
  display: block;
  background-color: rgba(0, 0, 0, 1);
  height: 100%;
  min-height: 320px;
  width: 7px;
  position: absolute;
  right: -3px;
  top: -20px;
}

.services-list .button {
  width: 160px;
  margin-right: auto;
}

.services-list .button-active,
.services-list .button:active {
  padding-right: 120px;
  color: #f7e184;
  background-image: none;
  background-color: rgba(0, 0, 0, 1);
  margin-right: 0;
  -webkit-transition: 0s;
  transition: 0s;
}

.services-description {
  padding: 0;
  margin-left: 120px;
  list-style: none;
  width: 740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  letter-spacing: 0.3px;
}

.services-description li {
  position: relative;
}

.services-description h3 {
  font-size: 47px;
  text-transform: none;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.services-description .description {
  width: 460px;
}

.services-description .delivery::after {
  content: url('../img/delivery.svg');
  position: absolute;
  right: 46px;
  top: 46px;
}

.services-description .warranty::after {
  content: url('../img/warranty.svg');
  position: absolute;
  right: 27px;
  top: 21px;
}

.services-description .credit::after {
  content: url('../img/credit.svg');
  position: absolute;
  right: 49px;
  top: 22px;
}
/*  brands*/
.brands-list {
  padding: 0;
  width: 1160px;
  margin: auto;
  margin-bottom: 87px;
  margin-top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.brands-list li {
  position: relative;
}

.brands-list li::after {
  content: '';
  display: block;
  height: 100px;
  width: 260px;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.brands-list .dji::after {
  content: '';
  background-image: url('../img/logo-1.jpg');
}

.brands-list .spgadgets:after {
  content: '';
  background-image: url('../img/logo-2.jpg');
}

.brands-list .gopro::after {
  content: '';
  background-image: url('../img/logo-3.jpg');
}

.brands-list .vive::after {
  content: '';
  background-image: url('../img/logo-4.jpg');
}

a.brands-link:hover {
  opacity: 0;
}
/*  about-us*/
.about-us {
  width: 1160px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: baseline;
  align-content: baseline;
}

.about-us-column {
  min-height: 655px;
  width: 560px;
  margin: 0;
  position: relative;
  margin-left: -2px;
}

.about-us-column .description {
  word-spacing: 1px;
}

.about-us-column > .description {
  margin-bottom: 30px;
}

.info-header,
.contact-header {
  font-size: 47px;
  text-transform: none;
  margin-top: 65px;
  margin-bottom: 55px;
}

.info-header::before,
.contact-header::before {
  display: block;
  content: '';
  width: 80px;
  height: 8px;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0;
  left: 0;
}

.delivery-container {
  min-height: 220px;
}

.delivery-list {
  padding: 0;
  font-size: 16px;
  line-height: 40px;
  text-transform: none;
  margin-top: 65px;
  margin-bottom: 55px;
}

.delivery-partner::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  margin-right: 30px;
  background-image: url(../img/slider-button-empty.svg);
  background-repeat: no-repeat;
  background-size: 8px 8px;
}

.contact .description {
  margin-bottom: 38px;
}

.info .description {
  margin-bottom: 30px;
  word-spacing: 1px;
}

.contact-map {
  margin-top: 40px;
  margin-bottom: 62px;
  cursor: pointer;
}

.delivery-container .description {
  word-spacing: -0.8px;
}

.about-us .button {
  width: 260px;
}
/* footer */
.main-footer {
  width: 100%;
  background-color: #464646;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  min-height: 323px;
  font-family: 'open_sanslight', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
  text-transform: none;
}

.footer-container {
  width: 1160px;
  min-height: 323px;
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.footer-social {
  width: 140px;
  padding: 0;
  margin: 0;
  margin-right: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-social a,
.footer-social a:hover,
.footer-social a:active,
a.academy-link,
a.academy-link:hover,
a.academy-link:active {
  opacity: 1;
}

.footer-social img {
  opacity: 0.3;
}

a.footer-social-item:hover img {
  opacity: 0.6;
}

a.footer-social-item:active img {
  opacity: 0.1;
}

a.academy-link:hover img {
  opacity: 0.6;
}

a.academy-link:active img {
  opacity: 0.3;
}

a.academy-link img {
  opacity: 1;
}

.footer-section.row-1 {
  padding-top: 65px;
  margin-bottom: 13px;
}

.footer-section.row-2 {
  margin-bottom: 65px;
}

.footer-section.row-3 {
  margin-bottom: 30px;
}

.footer-section.row-3::before {
  position: relative;
  top: -12px;
  content: '';
  display: block;
  width: 80px;
  height: 8px;
  background-color: rgba(255, 204, 51, 1);
}

.footer-logo {
  font-family: 'gilroyextrabold', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 47px;
  color: rgb(255, 204, 51);
  opacity: 1;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  left: -2px;
  letter-spacing: 1px;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-address {
  max-width: 350px;
}

.footer-site-navigation {
  width: 427px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  margin-right: 37px;
  position: relative;
  top: 3px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  word-break: break-all;
}

.footer-site-navigation a {
  font-family: 'gilroyextrabold', 'Arial', sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  opacity: 1;
  font-size: 18px;
  line-height: 24px;
}

.footer-site-navigation a:hover {
  opacity: 0.6;
}

.footer-site-navigation a:active {
  opacity: 0.3;
}

.footer-user-navigation {
  padding: 0;
  width: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  bottom: 15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-user-navigation.catalog {
  width: 469px;
}

.footer-user-navigation-item  a {
  opacity: 0.7;
  color: rgb(255, 255, 255);
}

.footer-user-navigation-item.login-btn a {
  opacity: 0.3;
}

.footer-user-navigation-item  a:hover {
  opacity: 1;
}

.footer-user-navigation-item  a:active {
  opacity: 0.3;
}

.footer-user-navigation-item.login-btn {
  margin-right: 22px;
}

.footer-user-navigation-item.compare {
  margin-right: 20px;
}

.footer-user-navigation-item.index {
  margin-right: 0px;
}

.footer-user-navigation-item.login a::before {
  content: url('../img/footer-user.svg');
  margin-right: 15px;
  margin-left: -10px;
}

.footer-user-navigation-item .compare {
  margin-left: 176px;
}

.catalog-header .compare {
  margin-left: 0px;
}

.footer-user-navigation-item.compare a::before {
  content: url('../img/footer-compare.svg');
  margin-right: 11px;
}

.footer-user-navigation-item.cart a::before {
  content: url('../img/footer-cart.svg');
  margin-right: 10px;
}
/* modal popup */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -480px;
  width: 960px;
  min-height: 553px;
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.6);
  z-index: 3;
  display: none;
}

@keyframes open {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
  }

  80% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.modal-show {
  display: block;
  -webkit-animation: open 0.6s;
  animation: open 0.6s;
}

.modal-form {
  padding-top: 92px;
  margin: 0 auto;
  width: 760px;
  min-height: 400px;
  text-transform: none;
}

.modal-form input,
.modal-form textarea {
  width: 360px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 13px 17px;
  font-family: 'open_sanslight', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
  border-radius: 0;
  outline: 0;
  margin-top: 7px;
}

.row-2 label {
  letter-spacing: 0.6px;
  word-spacing: -1.5px;
}

.modal-form input::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal-form input:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal-form input::-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal-form input::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal-close {
  border: 0px solid transparent;
  width: 55px;
  height: 55px;
  font-size: 0;
  background-color: rgb(240, 197, 46);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 22px;
  opacity: 0.5;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-close::before,
.modal-close::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 26px;
  left: 11px;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-form .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 33px;
}

.modal-form .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 40px;
}

.modal-form textarea {
  outline: transparent;
  width: 760px;
  min-height: 155px;
}

.modal-form input:hover,
.modal-form textarea:hover {
  background-color: #eaeaea;
}

.modal-form input:focus,
.modal-form textarea:focus {
  background-color: white;
  border-color: #f7e296;
}

.modal-form input:invalid {
  background-color: #edb5b5;
  opacity: 0.3;
}

.modal iframe {
  border: 0;
}

.contact-us-item {
  margin: 0;
  width: 360px;
}

.form-submit.button {
  text-transform: uppercase;
  margin-bottom: 60px;
  border: 0;
  background-color: transparent;
  width: 200px;
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-weight: 700;
}
/* catalog page */

.main-header.catalog {
  min-height: 186px;
}

.page-header {
  width: 1040px;
  min-height: 67px;
  margin: 0 auto;
  text-transform: none;
}

.page-title {
  margin: 38px 0px 23px;
  padding: 0;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: .5px;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'open_sanslight', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 46px;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 15px;
  line-height: 24px;
  letter-spacing: .15px;
}

.breadcrumbs a {
  font-family: 'open_sanslight', 'Arial', sans-serif;
  font-weight: 300;
  margin: 0 22px 0 0;
  padding: 0;
  font-size: 14px;
  color: #000;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs-item::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 2px;
  width: 4px;
  height: 7px;
  background-color: transparent;
  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-item.current::after {
  content: none;
}
/* catalog */

.catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 1287px;
}

.left-column {
  width: calc(50% - 252px);
  background-color: rgba(0, 0, 0, .08);
  min-height: 1287px;
}

.right-column {
  width: calc(252px + 50%);
  min-height: 1287px;
}

.catalog-view {
  width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}

.left-column.filter {
  min-height: 70px;
  width: 100%;
}

.filter > span {
  width: 200px;
  margin-top: 23px;
  margin-bottom: 23px;
  margin-right: 68px;
  margin-left: auto;
  letter-spacing: 2px;
}

.sort > span {
  margin: 23px 52px 23px 73px;
  letter-spacing: 2.2px;
}

.catalog-sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: auto;
  font-family: 'open_sanslight', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-transform: none;
  letter-spacing: normal;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  word-break: break-word;
}

.catalog-sort-list.order {
  margin: 22px 220px 24px 0px;
  max-width: 320px;
}

.catalog-sort-list.arrows {
  width: 45px;
  margin-left: -30px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-top: 24px;
  margin-bottom: 22px;
}

.catalog-sort-item a {
  opacity: 0.3;
}

.catalog-sort-item a:hover {
  opacity: 0.6;
}

.catalog-sort-item a:active,
.catalog-sort-item.selected a {
  opacity: 1;
}

.catalog-sort-item.down a::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.catalog-sort-item.up a::before {
  content: '';
  display: block;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.arrows .catalog-sort-item {
  opacity: 0.2;
}

.arrows .catalog-sort-item:hover {
  opacity: 0.4;
}

.arrows .catalog-sort-item:active,
.arrows .selected {
  opacity: 1;
}

.order .catalog-sort-item {
  margin-right: 28px;
}

.filter {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  margin-right: 70px;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, .08);
  min-height: 70px;
}

.catalog-view-column.sort {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.catalog-view-column.filter {
  text-transform: none;
  margin-top: 30px;
}

.range-filter {
  width: 200px;
}

.range-controls {
  position: relative;
  height: 5px;
  padding-top: 35px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 58%;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: 25px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: -6px;
}

.range-controls .toggle-max {
  left: 107px;
}

.range-controls .toggle:active {
  transform: scale(1.1);
}

.price-controls {
  font-size: 0;
  font-family: 'gilroylight', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 14px;
  opacity: 0.2;
  position: relative;
  top: 6px;
}

.price-controls {
  padding-right: 15px;
  font-size: 16px;
  text-transform: none;
}

.price-controls input {
  width: 50px;
  text-align: left;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: transparent;
}

.price-controls .min-price {
  margin-right: 15px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-option-list {
  list-style: none;
  font-size: 14px;
  line-height: 40px;
  font-family: 'open_sanslight', 'Arial', sans-serif;
  font-weight: 300;
  margin-bottom: -3px;
}

.filter legend:before {
  margin-top: 39px;
  margin-bottom: 10px;
  content: '';
  display: block;
  width: 200px;
  height: 2px;
  background-color: #000;
}

.filter-option-list label {
  position: relative;
  top: 5px;
  right: 0px;
  letter-spacing: 0.3px;
}

.filter-input-checkbox + label::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -40px;
  width: 30px;
  height: 30px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.filter-input-checkbox:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox:hover + label::before {
  opacity: 0.6;
}

.filter-input-checkbox:checked:active + label::before {
  background-image: url(../img/checkbox-off.svg);
  opacity: 1;
}

.filter-input-checkbox:active + label::before {
  background-image: url(../img/checkbox-on.svg);
  opacity: 1;
}

.filter-input-checkbox:disabled + label {
  opacity: 0.25;
  pointer-events: none;
}

.filter-input-checkbox:disabled + label::before {
  pointer-events: none;
}

.filter-input-radio + label::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -40px;
  width: 30px;
  height: 30px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.filter-input-radio:checked + label::before {
  background-image: url(../img/radio-on.svg);
}

.filter-input-radio:checked:hover + label::before,
.filter-input-radio:hover + label::before {
  opacity: 0.6;
}

.filter-input-radio:checked:active + label::before {
  background-image: url(../img/radio-off.svg);
  opacity: 1;
}

.filter-input-radio:active + label::before {
  background-image: url(../img/radio-on.svg);
  opacity: 1;
}

.filter-input-radio:disabled + label {
  opacity: 0.25;
  pointer-events: none;
}

.filter-input-radio:disabled + label::before {
  pointer-events: none;
}

.catalog-pads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 70px auto 0 70px;
  padding: 0;
  list-style: none;
  width: 760px;
}

.catalog-item {
  position: relative;
  width: 360px;
  min-height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.catalog-item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 30px 0px 48px;
}

.catalog-item-description .item-name {
  text-transform: none;
  width: 260px;
  letter-spacing: 0.2px;
}

.catalog-item-description .item-price {
  margin: 0;
  padding: 0;
  font-family: 'gilroylight', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  cursor: pointer;
}

.catalog-item.new {
  position: relative;
}

.catalog-item.new::before {
  content: 'new';
  position: absolute;
  top: 29px;
  right: 27px;
  z-index: 1;
  height: 59px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #000;
  border-radius: 50%;
  opacity: .2;
  width: 59px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pagination-list {
  margin: -14px auto 20px 70px;
  width: 760px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 3px;
  color: #000;
  list-style: none;
  background-color: rgba(0, 0, 0, .08);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-btn.button {
  background-color: transparent;
  border: 0px;
  width: 200px;
  text-transform: uppercase;
  margin-top: 35px;
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.pagination-item.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pagination-page-number {
  margin: 0;
  margin: 25px 8px 19px 21px;
  background-color: transparent;
  letter-spacing: 3px;
  cursor: pointer;
}

.pagination-item-current a.page-number {
  opacity: 1;
}

.page-number {
  opacity: 0.3;
}

.pagination-item-current a.page-number:hover,
.page-number:hover {
  opacity: 0.6;
}

.page-number:active {
  opacity: 1;
}

.step a {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  border: 0px;
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 24px 30px 22px;
}

.step {
  width: 130px;
  cursor: pointer;
}

.step:hover {
  background-color: #d9d9d9;
  opacity: 0.6;
}

.step a:active {
  background-color: #d9d9d9;
  opacity: 0.3;
  outline: none;
}

button:focus {
  opacity: 1;
}

.is-hidden {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.compare-item {
  font-size: 13px;
  line-height: 20px;
  color: #000;
  opacity: 0.5;
  font-family: 'open_sanslight', 'Arial', sans-serif;
  font-weight: 300;
  text-transform: none;
}

.compare-item:hover {
  opacity: 1;
}

.compare-item:active {
  opacity: 0.2;
}

.catalog-item-action {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 360px;
  height: 380px;
  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item-action .button {
  margin-bottom: 40px;
  -webkit-transform: translateY(25px);
  transform: translateY(25px);
}

.catalog-item:hover .catalog-item-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.catalog-item-new::before {
  content: 'new';
  position: absolute;
  top: 29px;
  right: 27px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 59px;
  height: 59px;
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 50%;
  opacity: 0.2;
}
