@font-face {
  font-family: "gilroyextrabold";
  src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroylight";
  src: url('../fonts/gilroylight-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sanslight";
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sansregular";
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: auto;
  width: 100%;
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  text-decoration-color: inherit;
  color: rgba(0, 0, 0, 1);
}

a:hover {
  color: rgba(0, 0, 0, 0.6);
}

a:active {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7e296;
  min-height: 300px;
  width: 1160px;
}

.header-logo {
  font-size: 48px;
}

.search {
  width: 440px;
  height: 50px;
}

.search::before {
  content: url("../img/search.svg");
  margin-right: 10px;
  margin-left: 3px;
}

.search input[type="text"] {
  padding: 0px 0px;
  border: 0px solid transparent;
  width: 320px;
  height: 50px;
  background-color: inherit;
}

.search input[type="text"]:focus {
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  outline: none;
}

.search-btn {
  width: 85px;
  border: 2px solid rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  display: none;
}

.user-navigation .user::before {
  content: url("../img/user.svg");
  margin-right: 10px;
}

.user-navigation .compare::before {
  content: url("../img/compare.svg");
  margin-right: 10px;
}

.user-navigation .cart::before {
  content: url("../img/cart.svg");
  margin-right: 10px;
}

.user-navigation,
.site-navigation,
.menu-catalog-list,
.catalog-list,
.services-list,
.brands-list,
.delivery-list,
.footer-site-navigation,
.footer-social,
.footer-user-navigation {
  list-style: none;
}

.user-navigation,
.site-navigation {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 60px;
}

.user-navigation,
.description {
  font-family: "open_sanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  text-transform: none;
}

.nav-catalog-expand::after {
  content: url("../img/plus.svg");
}

.catalog-number {
  font-size: 35.782px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1;
}

.button {
  background-color: #f0c52e;
}
/* slider */
.slider {
  margin-left: 20px;
  margin-right: 20px;
  width: 1160px;
  min-height: 520px;
}

.slider-item {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.slider-content {
  width: 500px;
}

.slider-content h3 {
  font-size: 47px;
  line-height: 57px;
}

/* catalog */
.inner-catalog {
  width: 1200px;
}

.inner-catalog-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.catalog-icon {
  background-color: rgba(254, 205, 51, 0.5);
  -webkit-transition: background-color 1s ease-in-out;
  -moz-transition: background-color 1s ease-in-out;
  -ms-transition: background-color 1s ease-in-out;
  -o-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
  width: 160px;
  height: 160px;
}

.catalog-icon:hover {
  background-color: rgba(254, 205, 51, 1);
}
/* services */
.services {
  background-color: #e5e5e5;
}
/*  brands*/
.brands-list {
  display: flex;
  justify-content: space-between;
}

.brands-list li {
  filter: grayscale(100%);
  -webkit-transition: filter 1s ease-in-out;
  -moz-transition: filter 1s ease-in-out;
  -ms-transition: filter 1s ease-in-out;
  -o-transition: filter 1s ease-in-out;
  transition: filter 1s ease-in-out;
}

.brands-list li:hover {
  filter: none;
}
/*  about-us*/
.about-us {
  display: flex;
  justify-content: space-between;
}

.info,
.contact {
  min-height: 655px;
  width: 560px;
  margin: 0 20px;
}
/* footer */
.main-footer {
  width: 100%;
  background-color: #464646;
  display: flex;
  justify-content: space-around;
  min-height: 323px;
  font-family: "open_sanslight", "Arial", sans-serif;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
  text-transform: none;
}

.footer-social {
  display: flex;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-data {
  width: 280px;
}

.footer-logo {
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  color: rgba(255, 204, 51, 1);
  text-transform: uppercase;
}

.footer-site-navigation {
  display: flex;
}

.footer-site-navigation a {
  font-family: "gilroyextrabold", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 24px;
}

.facebook {
  content: url("../img/facebook.svg");
  margin-right: 10px;
}

.instagram {
  content: url("../img/instagram.svg");
  margin-right: 10px;
}

.twitter {
  content: url("../img/twitter.svg");
}

.footer-user-navigation {
  display: flex;
}

.footer-user-navigation a {
  color: rgba(255, 255, 255, 1);
}
/* catalog page */
.catalog-wrapper {
  display: flex;
  min-height: 1284px;
  background-color: #efefef;
}

.catalog-page {
  margin: 0 0px;
  display: flex;
  flex-direction: column;
}

.page-header {
  min-height: 180px;
  padding: 0 200px;
}

.page-header h1 {
  font-size: 48px;
  line-height: 47px;
  /* padding-left: 60px; */
  text-transform: none;
}

.breadcrumbs {
  list-style: none;
  /* padding-left: 60px; */
}

.catalog {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.filter-container > h3 {
  margin: 0;
  min-height: 70px;
  background-color: #dcdcdc;
  padding-left: 200px;
}

.filter {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
}

.catalog-sort {
  min-height: 70px;
  display: flex;
  background-color: #ebebeb;
}

.catalog-sort ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: auto;
}

.catalog-list {
  display: flex;
  flex-direction: column;
}

.catalog-pads {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  width: 360px;
  min-height: 440px;
}

.pagination-list {
  list-style: none;
  display: flex;
}
